
.infoQR {
    display: block;
    margin-top: 70px;
    background-color: #FFFFFF;
    width: 295px;
    border-radius: 10px;
}

.textQR {
    padding-left: 21px;
    padding-top: 20px;
    padding-right: 20px;
    color: #315B7C;
    font-size: 24px;
    font-weight: 700;
}

.imgQR {
    display: block;
    width: 130px;
    height: 130px;
    padding-top: 40px;
    margin: auto;
}

.buttonQR {
    margin: 40px 0 61px 63px;
    color: #FFFFFF;
    background-color: #315B7C;
    border-radius: 10px;
    height: 45px;
    width: 168px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
