
.myFooter {
    padding-top: 40px;
    padding-left: 80px;
    padding-bottom: 60px;
}

.question {
    height: 43px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.questionText {
    font-size: 36px;
}

.questionText::before {
    content: " ";
    width: 10px;
    padding-right: 10px;
    margin-right: 10px;
    background: #315B7C;
}

.usersContent {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
}

.usersPhoto {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.icon1 {
    margin-top: 20px;
    margin-left: 5px;
}

.icon2 {
    margin-top: 20px;
    margin-left: 15px;
}