
.myFooter {
    padding-top: 40px;
    padding-left: 80px;
    padding-bottom: 60px;
}

.question {
    height: 43px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.questionText {
    font-size: 36px;
}

.questionText::before {
    content: " ";
    width: 10px;
    padding-right: 10px;
    margin-right: 10px;
    background: #315B7C;
}
